<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Date and Time App</title>
        {% load static %} <!--added this line-->
        <link rel="stylesheet"  href= "{% static 'css/style.css' %}">
    <title>Date and Time App</title>
</head>
<body>
    
</body>
</html>
<html>
    <body>
        <header class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Title Div -->
                        <div class=title>
                            <h1>Current Date & Time:</h1>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <!-- Clock -->
        <section class="section2">
            <div id="sect-02-cont" class="container">
                <div class="row">
                    <div class="col">
                        <div class=wrapper>
                            <!-- Clock Div -->
                            <div class=clock>
                                <!-- <h1>GMT</h1> -->
                                <h2>{{time}}</h2>
                            </div>
                            <!-- End of Clock Div -->
                        </div>

                    </div>
                </div>
            </div>
        </section>
        
        <!-- End of Wrapper Div -->

        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>